<div class="sam-share">

	<div class="ui menu">
		<a class="item" ng-click="reverse=!reverse; order('time', reverse)">
			<i class="icon wait"></i> 时间排序
		</a>
		<a class="item" ng-click="reverse=!reverse; order('name', reverse)">
			<i class="icon wait"></i> 标题排序
		</a>
		<div class="right menu">
			<div class="item">
				<div class="ui transparent icon input">
					<input type="text" placeholder="模糊筛选" ng-model="subSearch">
					<i class="search link icon"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="ui cards">
		<div class="card" ng-repeat="share in shares | filter:subSearch">
			<div class="content">
				<div class="header">
					<a href="/share/presentation/{{share._id}}" target="_blank">
						{{share.name}}</a></div>
				<div class="meta">
					<span class="category">{{share.time}}</span>
				</div>
				<div class="description" ng-bind-html="share.content" >
				</div>
			</div>
			<div class="extra content">
				<div class="right floated author">
					{{share.author.name}}
				</div>
			</div>
		</div>
	</div>

</div>
