<div class="sam-share">

	<div class="ui menu">
		<a class="item"><i class="icon wait"></i> 时间排序</a>
		<div class="right menu">
			<div class="item">
				<div class="ui transparent icon input">
					<input type="text" placeholder="模糊筛选" ng-model="subSearch">
					<i class="search link icon"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="ui cards">
		<a class="card" href="#" ng-repeat="share in shares | filter:subSearch">
			<div class="content">
				<div class="header">{{share.name}}</div>
				<div class="meta">
					<span class="category">{{share.time}}</span>
				</div>
				<div class="description">
					{{share.content}}
				</div>
			</div>
			<div class="extra content">
				<div class="right floated author">
					{{share.author.name}}
				</div>
			</div>
		</a>
	</div>

</div>
