doctype html
html(ng-app="admin")
  head
    title Sam :: Admin
    link(rel="stylesheet", href="/css/sam-admin.css")
    script(src="/js/chives/angular/angular.min.js")
    script(src="/js/chives/angular/angular-route.min.js")
    script(src="/js/chives/ng-datepicker/ng-datepicker.js")
    script(src="/js/chives/angular-file-upload/angular-file-upload.js")
    script(src="/mvc/admin/app.js")
    script(src="/mvc/admin/controller.js")

  body

    div#sam-admin
      div.topbar
        div.ui.grid
          div.three.wide.column.brand
            a(href="#!/")
              i.settings.icon
              | Sam

          div.wide.column.nine.navigator
            div.ui.menu.inverted
              a.item(href="#!/project")
                i.block.layout.icon
                | 项目
              a.item(href="#!/mail")
                i.mail.icon
                | 邮件
              a.item(href="#!/topic")
                i.tasks.icon
                | 专题
              a.item(href="#!/user")
                i.users.icon
                | 用户
              div.item.parameters.ui.dropdown
                i.settings.icon
                | 参数
                i.icon.dropdown
                div.menu
                  a.item(href="#!/parameter") 参数列表
                  a.item(href="#!/parameter/position/add") 添加职位
                  a.item(href="#!/parameter/personnel/add") 添加人员
                  a.item(href="#!/parameter/program/add") 添加项目应用
                  a.item(href="#!/parameter/status/add") 添加项目状态
                  a.item(href="#!/parameter/version/add") 添加项目版本
                  a.item(href="#!/parameter/releasePipe/add") 添加发布渠道
          div.wide.column.four.userBar
            div.ui.celled.horizontal.list
              // span.item= current_user.username
              a.item(href='/signout')
                i.sign.out.icon
                |登出

      div.bottle
        div.facility
          ng-view(show-default="true")
