extends ./admin

block facility
    div.ui.attached.message
        div.header
            添加邮件
    form.ui.form.attached.fluid.segment
        div.field
            label 邮件名称
            input(type='text')
        div.field
            label 头图
            input(type='file')
        div.fields.two
            div.field
                label 视觉设计师
                input(type='text')
            div.field
                label 前端设计师
                input(type='text')
        div.field.date
            label 发布时间
            input(type='text')
        div.ui.blue.submit.button.icon.labeled
            i.edit.basic.icon
            |添加
