extends ./admin

block facility
    div.ui.attached.message
        div.header
            修改密码
    form.ui.form.attached.fluid.segment
        div.field
            label 工号
            input(type='text')
        div.field
            label 名字
            input(type='text')
        div.field
            label 旧密码
            input(type='text')
        div.field
            label 新密码
            input(type='text')
        div.ui.blue.submit.button.icon.labeled
            i.edit.basic.icon
            |修改
