doctype html
html(ng-app="admin")
    head
        title Sam :: Setup
        link(rel="stylesheet", href="/css/sam-setup.css")
        link(rel="shortcut icon", href="/favicon.ico")
        meta(name='renderer', content='webkit')

    body
        div#sam-setup
            div.ui.ten.column.centered.grid
                div.column
                    test