extends ./admin

block facility
    div.ui.header.dividing
        |筛选
    div.ui.tertiary.form.segment
        div.field
            label 关键字 （JIRA号，名称，相关人等）来进行特定项目的筛选进行后续操作
            div.ui.left.labeled.icon.input.circular
                i.search.icon
                input(type='text', placeholder='#')
    

    div.ui.selection.list
        div.item
            i.block.layout.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.tasks.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.text.file.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.tasks.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.tasks.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.tasks.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.tasks.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.tasks.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.tasks.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.text.file.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.block.layout.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.block.layout.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.block.layout.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.block.layout.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
        div.item
            i.block.layout.icon
            div.content
                a.header 购物车
                div.description
                    |JIRA-1928, 项目, 已上线
