doctype html
html(ng-app="sign")
	head
		title Sam :: Sign
		link(rel='stylesheet', href='/css/sam-admin.css')
		link(ref='shortcut icon', href='/favicon.ico', type='image/x-icon')
		script(src="/js/chives/angular/angular.min.js")
		script(src="/mvc/admin/app_sign.js")
		meta(name='renderer', content='webkit')

	body(ng-controller="SignController")
		div#sam-sign
			div.ui.tall.segment.stacked.form
				form(action='/signin', method='POST', name='signForm').signForm
					- if (messages.info)
						div.ui.error.message(style="display:block")
							div=messages.info

					h2.ui.dividing.header Sam
					div.inline.fields
						label 域账号后缀
						div.field
							input(type="radio", value="made-in-china.com", ng-model="domain_fix", name="domainfix", id="domainfix_mic")
							label(for="domainfix_mic") made-in-china.com
						div.field
							input(type="radio", value="xyz.cn", ng-model="domain_fix", name="domainfix", id="domainfix_xyz")
							label(for="domainfix_xyz") xyz.cn
					div.field
						label 域帐号
						div.ui.right.labeled.input
							input(type='text', name='prefix', ng-model="domain_name", required)
							input(type='hidden', name='domain', ng-value="domain")
							div.ui.label {{domain_fix}}
					div.field
						label 密码
						div.ui.input
							input(type='password', name='password', required)

					button.ui.fluid.button(type="submit", ng-class="{true: 'red', false: 'disabled'}[signForm.prefix.$valid]")
						| 登入
