doctype html
html(ng-app="admin")
	head
		title Sam :: Sign
		link(rel='stylesheet', href='/css/sam-admin.css')
		link(ref='shortcut icon', href='/favicon.ico', type='image/x-icon')
		meta(name='renderer', content='webkit')

	body
		div#sam-sign
			div.ui.tall.segment.stacked.form
				form(action='/signin', method='POST').signForm
					- if (messages.info)
						div.ui.error.message(style="display:block")
							div=messages.info

					h2.ui.dividing.header Sam
					div.field
						label 域帐号
						div.ui.icon.input
							input(type='text', name='username')
							i.user.icon
					div.field
						label 密码
						div.ui.icon.input
							input(type='password', name='password')
							i.lock.icon
					button.ui.small.red.fluid.submit.button(type='submit')
						i.meh.icon
						| 登入
