extends ./admin

block facility
    div.ui.attached.message
        div.header
            添加专题
    form.ui.form.attached.fluid.segment
        div.field
            label 专题名称
            input(type='text')
        div.field
            label 头图
            input(type='file')
        div.fields.two
            div.field
                label 视觉设计师
                input(type='text')
            div.field
                label 前端设计师
                input(type='text')
        div.field
            label 归属
            div.ui.selection.dropdown
                input(type='hidden', name='')
                div.text CMS
                i.dropdown.icon
                div.menu
                    div.item(data-value='') CMS
                    div.item(data-value='') 版本
        div.field
            label 版本
            input(type='text')
        div.field.date
            label 发布时间
            input(type='text')
        div.ui.blue.submit.button.icon.labeled
            i.edit.basic.icon
            |添加

