div.ui.attached.message
    div.header 
        |添加用户
form.ui.form.attached.fluid.segment(name="user_form", ng-controller="UserCtrl")
    div.field
        label 工号
        input(type="text", name="workno")
    div.field
        label 名字
        input(type="text", name="name")
    div.field
        label 用户名
        input(type="text", name="username")
    div.field
        label 邮箱
        input(type="text", name="email")
    div.field
        label 密码
        input(type="text", name="password")
    button.ui.blue.submit.button.icon.labeled
        i.edit.basic.icon
        |添加
