<div class="sam-graphic">

    <table class="ui table">
        <thead>
            <tr>
                <th colspan="2">
                    <a class="section">Home</a>
                    <i class="right chevron icon divider"></i>
                    <a class="section">Registration</a>
                    <i class="right chevron icon divider"></i>
                    <span class="active section">Personal Information</span>
                </th>
                <th colspan="2">
                    <div class="ui mini icon input searchBar">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in nodes | orderBy:['type', 'name']">
                <td class="collapsing">
                    <div ng-if="node.type == 'Directory'">
                        <a href="{{node.name}}">
                            <i class="folder icon"></i> {{node.name}}
                        </a>
                    </div>
                    <div ng-if="node.type == 'File'">
                        <a href="{{node.down}}" target="_blank">
                            <i class="file image outline icon"></i> {{node.name}}
                        </a>
                    </div>
                </td>
                <td>
                    <div ng-if="node.type == 'File'">{{node.size}}</div>
                </td>
                <td></td>
                <td class="right aligned collapsing">{{node.human_time}}</td>
            </tr>
        </tbody>
    </table>
</div>
