<div class="sam-graphic">

    <table class="ui table">
        <colgroup>
            <col style="">
            <col style="width:5%;">
            <col style="width:7%;">
            <col style="width:10%;">
        </colgroup>
        <thead>
            <tr>
                <th colspan="2">
                    <div class="ui breadcrumb">
                        <a href="/#!/graphic" class="section">视觉稿</a>
                        <span ng-repeat="bread in breadcrumb">
                            <div class="divider"> / </div>
                            <a class="section" href="{{bread[0] | decode }}">{{bread[1] | decode}}</a>
                        </span>
                    </div>
                </th>
                <th colspan="2">
                    <div class="ui mini icon input searchBar">
                        <input type="text">
                        <i class="search icon"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in nodes | orderBy:['type', 'name']">
                <td class="collapsing">
                    <div ng-if="node.type == 'Directory'">
                        <a href="/#!/graphic/{{node.down}}" title="{{node.down}}">
                            <i class="folder icon"></i> {{node.name}}
                        </a>
                    </div>
                    <div ng-if="node.type == 'File'">
                        <a href="{{node.down}}" target="_blank">
                            <i class="file image outline icon"></i> {{node.name}}
                        </a>
                    </div>
                </td>
                <td>
                    <a href=""><i class="qrcode icon"></i></span>
                    <qrcode data="
                </td>
                <td>
                    <div class="subsidiary" ng-if="node.type == 'File'">{{node.size}}</div>
                </td>
                <td class="right aligned collapsing subsidiary">
                    <span title="{{node.time}}">{{node.human_time}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
