<div class="ui grid sam-mail">

  <div class="three wide column">
    <div class="ui vertical menu">
      <!--
      <div class="item">
        <a><b>年份</b></a>
        <div class="menu">
          <a class="item">2012</a>
          <a class="item">2013</a>
          <a class="item">2014</a>
        </div>
      </div>
      <div class="item">
        <a><b>月份</b></a>
        <div class="menu">
          <a class="item">1月</a>
          <a class="item">2月</a>
          <a class="item">3月</a>
          <a class="item">4月</a>
          <a class="item">5月</a>
          <a class="item">6月</a>
          <a class="item">7月</a>
          <a class="item">8月</a>
          <a class="item">9月</a>
          <a class="item">10月</a>
          <a class="item">11月</a>
          <a class="item">12月</a>
        </div>
      </div>
      -->
      <div class="item">
        <a><b>视觉设计师</b></a>
        <div class="menu">
          <a class="item" ng-click="filterMailsByAtom(personnel._id, 'ga', personnel.name)"
            ng-repeat="personnel in personnels | orderBy: 'domain_account' | filter: {position: '视觉设计师'}">
            <i ng-class="isChecked(personnel._id, 'ga')"></i>
            {{personnel.name}}
          </a>
        </div>
      </div>
      <div class="item">
        <a><b>前端设计师</b></a>
        <div class="menu">
          <a class="item" ng-click="filterMailsByAtom(personnel._id, 'fe', personnel.name)"
            ng-repeat="personnel in personnels | orderBy: 'domain_account' | filter: {position: '前端设计师'}">
            <i ng-class="isChecked(personnel._id, 'fe')"></i>
            {{personnel.name}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="thirteen wide column">
    <!-- filter criteria area -->
    <div class="criterias" ng-show="isCriteriaValid()">
      <a class="ui teal label"
        ng-repeat="criteria in selected_atom" ng-show="criteria.id">
        {{ criteria.name }}
        <i class="delete icon" ng-click="removeCriteria(criteria.id)"></i>
      </a>

      <a class="ui black small label clearall" ng-click="resetCriteria()">
        清空筛选条件
      </a>
    </div>

    <div class="ui items">
      <a class="item" ng-repeat="mail in filtered = (mails | SamOperationMailFilter:selected_atom)">
        <div class="image">
          <img src="{{mail.mail_cover}}" />
        </div>
        <div class="content">
          <div class="meta">{{mail.end_time}}</div>
          <div class="name">{{mail.name}}</div>
          <div class="description">
            <div class="ui label black">{{mail.personnel_ga.name}}</div>
            <div class="ui label teal">{{mail.personnel_fe.name}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


