<div class="ui header dividing">专题</div>

<div class="ui attached message">
    <div class="header">
        添加专题
    </div>
</div>
<form  class="ui form attached fluid segment">
    <div class="field">
        <label>专题名称</label>
        <input type="text" />
    </div>
    <div class="field">
        <label>头图</label>
        <input type="file" />
    </div>
    <div class="fields two">
        <div class="field">
            <label>视觉设计师</label>
            <input type="text" />
        </div>
        <div class="field">
            <label>前端设计师</label>
            <input type="text" />
        </div>
    </div>
    <div class="field">
        <label>归属</label>
        <div class="ui selection dropdown">
            <input type="hidden" name="" />
            <div class="text">CMS</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" data-value="">CMS</div>
                <div class="item" data-value="">CMS</div>
                <div class="item" data-value="">CMS</div>
            </div>
        </div>
    </div>
    <div class="field">
        <label>版本</label>
        <input type="text" />
    </div>
    <div class="field">
        <label>发布时间</label>
        <input type="text" />
    </div>
    <div class="ui blue submit button icon labeled">
        <i class="edit basic icon"></i>
        添加专题
    </div>
</form>

