<div class="ui menu">
	<span class="active item">专题</span>
	<div class="right menu">
		<div class="item">
			<div class="ui icon transparent input">
				<input type="text" placeholder="模糊筛选" ng-model="subSearch">
				<i class="search link icon"></i>
			</div>
		</div>
		<a href="#!/topic/add" class="ui item">
			<i class="edit basic icon"></i> 添加专题
		</a>
	</div>
</div>


<table class="ui table segment">
	<thead>
		<tr>
			<th>名称</th>
			<th>视觉稿</th>
			<th>视觉</th>
			<th>前端</th>
			<th>发布时间</th>
			<th>头图</th>
			<th>发布渠道</th>
			<th>发布应用</th>
			<th>编辑</th>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="topic in filtered = (topics | orderBy:'-end_time') | filter:subSearch">
		<td><a href="{{topic.topic_deploy_uri}}" target="_blank">{{topic.name}}</a></td>
		<td><a href="{{topic.topic_graphic_uri}}" target="_blank">查看</a></td>
		<td>{{topic.personnel_ga.name}}</td>
		<td>{{topic.personnel_fe.name}}</td>
		<td>{{topic.end_time}}</td>
		<td>
			<i class="icon photo tooltip-image">
				<img class="uploaded-image" ng-src="{{topic.topic_cover}}" />
			</i>
		</td>
		<td>{{topic.belong_to.name}}</td>
		<td>
			<div ng-if="topic.topic_deploy_channel_official">官网</div>
			<div ng-if="topic.topic_deploy_channel_touch">触屏站</div>
			<div ng-if="topic.topic_deploy_channel_app">APP</div>
			<div ng-if="topic.topic_deploy_channel_union">网站联盟</div>
			<div ng-if="topic.topic_deploy_channel_tmall">天猫</div>
		</td>
		<td>
			<a href="#!/topic/edit/{{topic._id}}"
				class="ui button tiny compact">编辑</a>
			<a ng-click="deleteDialog(topic._id)"
				class="ui button icon tiny compact">
				<i class="remove icon"></i>
			</a>
		</td>
	</tr>
	</tbody>
</table>

<a href="#!/topic/add" class="ui blue submit button icon">
	<i class="edit basic icon"></i>
	添加专题
</a>


<script type="text/ng-template" id="sam-dialog">
	<div class="header">删除当前条目</div>
	<div class="msg">此项操作 <strong>不能</strong> 撤销。</div>
	<div class="content">
		<p>这将彻底删除<strong class="itemname">{{item_name}}</strong>条目。 </p>
		<p>请输入条目的名称来确认删除：</p>
		<div class="ui fluid input">
			<input type="text" ng-model="input_name">
		</div>
	</div>
	<div class="ui fluid disabled button actionButton" ng-click="deleteTopic(item_id)"
		ng-class="{true: 'negative', false: 'disabled'}[input_name==item_name]">
		删除
	</div>
</script>
