doctype html
html(ng-app="admin")
    head
        title Sam :: Setup
        link(rel="stylesheet", href="/css/sam-setup.css")
        link(rel="shortcut icon", href="/favicon.ico")
        meta(name='renderer', content='webkit')

    body
        div#sam-setup
            div.ui.ten.column.centered.grid
                div.ui.steps
                    div.step
                        i.icon.truck
                        div.content
                            div.title Shipping
                            div.description Choose your shipping options
                    div.step.active
                        i.icon.payment
                        div.content
                            div.title Shipping
                            div.description Choose your shipping options
                    div.step
                        i.icon.info
                        div.content
                            div.title Shipping
                            div.description Choose your shipping options
