<div class="ui attached message">
    <div class="header">
        添加邮件
    </div>
</div>
<form  class="ui form attached fluid segment">
    <div class="field">
        <label>邮件名称</label>
        <input type="text" />
    </div>
    <div class="field">
        <label>头图</label>
        <input type="file" />
    </div>
    <div class="fields two">
        <div class="field">
            <label>视觉设计师</label>
            <input type="text" />
        </div>
        <div class="field">
            <label>前端设计师</label>
            <input type="text" />
        </div>
    </div>
    <div class="field">
        <label>发布时间</label>
        <input type="text" />
    </div>
    <div class="ui blue submit button icon labeled">
        <i class="edit basic icon"></i>
        添加邮件
    </div>
</form>
