<!--
<div class="ui grid sam-dashboard">
  <div class="sixteen wide column">
    <div class="ui stacked segment">
      <div class="ui top attached label">全部</div>
      <ul class="chart-bar">
        <li>
          <span class="legend">项目</span>
          <span class="bar" style="height:20%"></span>
        </li>
        <li class="blue">
          <span class="legend">邮件</span>
          <span class="bar" style="height:40%"></span>
        </li>
        <li class="purple">
          <span class="legend">专题</span>
          <span class="bar" style="height:30%"></span>
        </li>
        <li class="red">
          <span class="legend">专题</span>
          <span class="bar" style="height:30%"></span>
        </li>
        <li class="green">
          <span class="legend">专题</span>
          <span class="bar" style="height:30%"></span>
        </li>
        <li class="dark">
          <span class="legend">专题</span>
          <span class="bar" style="height:30%"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
-->
