extends ../layout

block subtitle
    | 时间线

block substance
    div.sam-timeline
        div.ui.segment.feed.stacked
            ul.timeline
                li
                    div.timeline-node 2014.01.12
                    div.timeline-badge.info
                        i.block.layout.icon.circular.large
                    div.timeline-panel
                        div.timeline-heading
                            h4.timeline-title 购物车模块发布
                            p
                                i.time.icon
                                | 2014.01.12
                            p
                                i.info.icon
                                | 2014-01 版本
                li
                    div.timeline-node 2014.01.11
                    div.timeline-badge.warning
                        i.tasks.icon.circular.large 
                    div.timeline-panel
                        div.timeline-heading
                            h4.timeline-title 情人节专题
                            p
                                i.user.icon
                                | 孙清，赵小鸡
                li
                    div.timeline-node 2014.01.10
                    div.timeline-badge.default
                        i.tasks.icon.circular.large 
                    div.timeline-panel
                        h4.timeline-title 优惠券邮件
                li
                    div.timeline-node 2014.01.09
                    div.timeline-badge.warning
                        i.text.file.icon.circular.large 
                    div.timeline-panel
                        div.timeline-heading
                            h4.timeline-title 情人节专题
                            p
                                i.user.icon
                                | 孙清，赵小鸡
                li
                    div.timeline-node 2014.01.08
                    div.timeline-badge.info
                        i.block.layout.icon.circular.large
                    div.timeline-panel
                        div.timeline-heading
                            h4.timeline-title 购物车模块发布
                            p
                                i.time.icon
                                | 2014.01.12
                            p
                                i.info.icon
                                | 2014-01 版本
                li
                    div.timeline-node 2014.01.07
                    div.timeline-badge.warning
                        i.text.file.icon.circular.large 
                    div.timeline-panel
                        div.timeline-heading
                            h4.timeline-title 情人节专题
                            p
                                i.user.icon
                                | 孙清，赵小鸡
                li
                    div.timeline-node 2014.01.06
                    div.timeline-badge.info
                        i.block.layout.icon.circular.large
                    div.timeline-panel
                        div.timeline-heading
                            h4.timeline-title 购物车模块发布
                            p
                                i.time.icon
                                | 2014.01.12
                            p
                                i.info.icon
                                | 2014-01 版本
                li
                    div.timeline-node 2014.01.05
                    div.timeline-badge.warning
                        i.text.file.icon.circular.large 
                    div.timeline-panel
                        div.timeline-heading
                            h4.timeline-title 情人节专题
                            p
                                i.user.icon
                                | 孙清，赵小鸡
                li
                    div.timeline-node 2014.01.04
                    div.timeline-badge.info
                        i.block.layout.icon.circular.large 
                    div.timeline-panel
                        div.timeline-heading
                            h4.timeline-title 购物车模块发布
                            p
                                i.time.icon
                                | 2014.01.12
                            p
                                i.info.icon
                                | 2014-01 版本
                li
                    div.timeline-node 2014.01.03
                    div.timeline-badge.warning
                        i.text.file.icon.circular.large 
                    div.timeline-panel
                        div.timeline-heading
                            h4.timeline-title 情人节专题
                            p
                                i.user.icon
                                | 孙清，赵小鸡
