<div class="ui menu">
    <span class="active item">参数</span>
</div>
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="subParameter">
            <table class="ui small table">
                <thead>
                    <tr><th colspan="5">人员</th></tr>
                    <tr>
                        <th>
                            <a ng-click="reverse=!reverse; order('workno', reverse)">工号</a>
                        </th>
                        <th>姓名</th>
                        <th>
                            <a ng-click="reverse=!reverse; order('domain_account', reverse)">域账号</a>
                        </th>
                        <th>
                            <a ng-click="reverse=!reverse; order('position.name', reverse)">职位</a>
                        </th>
                        <th ng-show="isRoot">删除</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="personnel in personnels">
                        <td>{{personnel.workno}}</td>
                        <td>{{personnel.name}}</td>
                        <td>{{personnel.domain_account}}</td>
                        <td>{{personnel.position.name}}</td>
                        <td ng-show="isRoot">
                            <i class="delete icon" ng-click="deletePersonnel(personnel._id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="five wide column">
    	<table class="ui small table">
    		<thead>
    			<tr><th>职位</th></tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="position in positions"><td>{{position.name}}</td></tr>
    		</tbody>
    	</table>
    </div>
    <div class="five wide column">
    	<table class="ui small table">
    		<thead>
    			<tr><th>应用</th></tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="program in programs"><td>{{program.name}}</td></tr>
    		</tbody>
    	</table>
    </div>
    <div class="five wide column">
    	<table class="ui small table">
    		<thead>
    			<tr><th>渠道</th></tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="pipe in pipes"><td>{{pipe.name}}</td></tr>
    		</tbody>
    	</table>
    </div>
</div>