<div class="ui attached message">
	<div class="header">添加用户</div>
</div>

<form class="ui form fluid segment" name="adminUserSaveForm" ng-submit="userSave()" ng-controller="AdminUserAddCtrl">
	<div class="field">
		<label>用户组</label>
		<select name="group" ng-model="user.group">
			<option ng-repeat="group in groups" value="{{group._id}}">
			{{group.name}}
			</option>
		</select>
	</div>
	<div class="field">
		<label>工号</label>
		<input type="text" name="workno" ng-model="user.workno" required />
	</div>
	<div class="field">
		<label>名字</label>
		<input type="text" name="name" ng-model="user.name" required />
	</div>
	<div class="field">
		<label>用户名</label>
		<input type="text" name="username" ng-model="user.username" required />
	</div>
	<div class="field">
		<label>邮箱</label>
		<input type="text" name="email" ng-model="user.email" required />
	</div>
	<div class="field">
		<label>密码</label>
		<input type="text" name="password" ng-model="user.password" required />
	</div>

	<a href="#!/user" class="ui animated button">
		<div class="visible content">返回</div>
		<div class="hidden content">
			<i class="left arrow icon"></i>
		</div>
	</a>
	<button class="ui blue submit button right floated">
		添加用户
	</button>
</form>
