<div class="sam-timeline">
  <div class="ui segment stacked">
    <!--
    <table class="calendar">
      <caption>Auguest 2014</caption>
      <thead>
        <tr>
          <th>周一</th>
          <th>周二</th>
          <th>周三</th>
          <th>周四</th>
          <th>周五</th>
          <th>周六</th>
          <th>周日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    -->

    <ul class="timeline">
      <li ng-repeat="timeline in timelines" ng-if="timeline.end_time">

        <div class="timeline-node">
          {{timeline.end_time}}
        </div>

        <div class="timeline-badge" ng-switch on="timeline.category">
          <i class="icon block layout circular inverted teal" ng-switch-when="project"></i>
          <i class="icon mail circular inverted blue" ng-switch-when="mail"></i>
          <i class="icon tasks circular inverted red" ng-switch-when="topic"></i>
        </div>

        <div class="timeline-panel">
          <div class="timeline-title">{{timeline.name}}</div>
          <div class="timeline-body">
            <span class="ui tiny label" ng-if="timeline.personnel_ia">
              {{timeline.personnel_ia.name}}
            </span>
            <span class="ui label" ng-if="timeline.personnel_ga">
              {{timeline.personnel_ga.name}}
            </span>
            <span class="ui label" ng-if="timeline.personnel_fe">
              {{timeline.personnel_fe.name}}
            </span>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>
