<div class="ui menu">
	<span class="active item">沙盒</span>
	<div class="right menu">
		<div class="item">
			<div class="ui icon transparent input">
				<input type="text" placeholder="模糊筛选" ng-model="subSearch">
				<i class="search link icon"></i>
			</div>
		</div>
		<a href="#!/share/add" class="ui item">
			<i class="edit basic icon"></i> 添加沙盒
		</a>
	</div>
</div>


<table class="ui table very compact segment">
	<thead>
		<tr>
			<th>名称</th>
			<th>时间</th>
			<th>作者</th>
			<th>编辑</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="share in filtered = (shares | orderBy: '-time') | filter: subSearch">
			<td>{{share.name}}</td>
			<td>{{share.time}}</td>
			<td>{{share.author.name}}</td>
			<td>
				<a href="#!/share/edit/{{share._id}}"
					class="ui button tiny compact">编辑</a>
				<a ng-click="deleteDialog(share._id)"
					class="ui button icon tiny compact">
					<i class="remove icon"></i>
				</a>
			</td>
		</tr>
	</tbody>
</table>

<a href="#!/share/add" class="ui blue submit button icon">
	<i class="edit basic icon"></i>
	添加
</a>


<script type="text/ng-template" id="sam-dialog">
	<div class="header">删除当前条目</div>
	<div class="msg">此项操作 <strong>不能</strong> 撤销。</div>
	<div class="content">
		<p>这将彻底删除<strong class="itemname">{{item_name}}</strong>条目。 </p>
		<p>请输入条目的名称来确认删除：</p>
		<div class="ui fluid input">
			<input type="text" ng-model="input_name">
		</div>
	</div>
	<div class="ui fluid disabled button actionButton" ng-click="deleteShare(item_id)"
		ng-class="{true: 'negative', false: 'disabled'}[input_name==item_name]">
		删除
	</div>
</script>
