<div class="ui attached message">
	<div class="header">
		添加沙盒
	</div>
</div>


<form class="ui form fluid segment" ng-controller="AdminShareAddCtrl" ng-submit="shareSave()">

	<div class="field">
		<label>名称</label>
		<input type="text" name="name" ng-model="share.name" />
	</div>

	<div class="field">
		<label>内容</label>
		<input type="hidden" name="content" value="{{share.content}}" />
		<div class="rte" simditor ng-model="share.content"></div>
	</div>

	<div class="field">
		<label>作者</label>
		<select ng-model="share.author" ng-options="domain._id as domain.email for domain in domains">
		</select>
	</div>

	<button class="ui blue submit button right floated">
		保存修改
	</button>
</form>
