@import "./module/variable";
@import "./module/mixin";
@import "./module/normalize";
@import "./module/semantic";
@import "./module/selection";
@import "./module/timeline";
@import "./module/statistic";

#sam {
  padding-top:33px;
  .box-sizing(border-box);
  .sam-header {
    border-radius:0;
    margin-bottom:0;
    position:fixed;
    top:0;
    z-index: @headerZindex;
    width:100%;
    .item {
      font-size:0.9rem;
    }
    .sam-search {
      padding:0;
      margin-right:20px;
      input {
        .padding-horizontal(.5em);
      }
    }
    .sam-documents {
      .menu {
        display:none;
        .item:hover {
          background:rgba(0,0,0,.05);
        }
      }
      &:hover {
        .menu {
          display:block;
        }
      }
    }
  }

  .sam-wrap {
    height:100%;
    >.ui.grid {
      margin-left:0 !important;
      margin-right:0 !important;
    }
  }

  .sam-dashboard,
  .sam-project,
  .sam-mail,
  .sam-topic {
    height:100%;
  }

  .sam-project,
  .sam-mail,
  .sam-topic {
    .column {
      height:100%;
      margin:0;
      overflow-y:auto;
      &.three {
        background:#fff;
        padding-left:0;
        padding-right:0;
        .box-shadow(0 0 20px #ccc);
        .menu {
          width: auto;
          height:100%;
          .box-shadow(none);
        }
      }
      &.thirteen {
        .padding-horizontal(1.5%);
      }
    }
  }

  .sam-project {
    .ui.table {
      font-size:14px;
    }
    [class^='cate_icon'] {
      display:inline-block;
      .square(22px);
      background-repeat:no-repeat;
      background-position: 0 0;
      background-size:22px;
      vertical-align:middle;
    }
    .cate_icon_o {
      background-image:url(/img/category/xyz.png);
    }
    .cate_icon_u {
      background-image:url(/img/category/union.png);
    }
    .cate_icon_t {
      background-image:url(/img/category/touch.png);
    }
    .cate_icon_c {
      background-image:url(/img/category/car.png);
    }
    .cate_icon_m {
      background-image:url(/img/category/mobile.png);
    }
  }

  .sam-mail,
  .sam-topic {
    .items .item {
      padding:0.5em 0;
      cursor: default;
      .image {
        .square(300px);
        overflow:hidden;
        margin:0 auto;
      }
      .content {
        .name {
          margin-bottom:10px;
        }
        .description{
          a{
            text-decoration: none;
          }
        }
      }
    }
  }

  .sam-topic {
    .items .item {
      min-height:175px;
      .image {
        height: 107px;
      }
    }
  }

  .sam-timeline {
    padding:3em;
    .feed {
      padding:3em;
    }
  }
}
