<div class="ui header dividing">项目</div>

<table class="ui table segment">
    <thead>
        <tr>
            <th>状态</th>
            <th>应用</th>
            <th>名称</th>
            <th>JIRA</th>
            <th>Gandolf</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>设计师</th>
            <th>版本</th>
            <th>编辑</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in projects">
            <td>{{project.status.name}}</td>
            <td>{{project.program.name}}</td>
            <td>{{project.name}}</td>
            <td>
                <a href="{{project.jira_uri}}" target="_blank">
                    查看
                </a>
            </td>
            <td>
                <a href="{{project.gandolf_uri}}" target="_blank">
                    查看
                </a>
            </td>
            <td>{{project.start_time}}</td>
            <td>{{project.end_time}}</td>
            <td>
                {{project.personnel_ia.name}}
                <br>
                {{project.personnel_ga.name}}
                <br>
                {{project.personnel_fe.name}}
            </td>
            <td>{{project.related_version.name}}</td>
            <td>
                <div class="ui tiny buttons">
                    <a href="#!/project/edit/{{project._id}}" class="ui button positive">编辑</a>
                    <div class="or"></div>
                    <a ng-click="deleteProject(project._id)" class="ui button">删除</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<a href="#!/project/add" class="ui blue submit button icon labeled">
    <i class="edit basic icon"></i>
    添加项目
</a>
