<div class="ui grid sam-project">

  <div class="three wide column">
    <div class="ui vertical menu">
      <div class="item">
        <a><b>应用</b></a>
        <div class="menu">
          <a class="item" ng-repeat="program in programs" 
            ng-click="filterProjectsByAtom(program._id, 'program')">
            <i ng-class="isChecked(program._id, 'program')"></i>
            {{program.name}}
          </a>
        </div>
      </div>
      <div class="item">
        <a><b>状态</b></a>
        <div class="menu">
          <a class="item" ng-repeat="status in statuses"
            ng-click="filterProjectsByAtom(status._id, 'status')">
            <i ng-class="isChecked(status._id, 'status')"></i>
            {{status.name}}
          </a>
        </div>
      </div>

      <div class="item">
        <a><b>交互设计师</b></a>
        <div class="menu">
          <a class="item" ng-click="filterProjectsByAtom(personnel._id, 'ia')"
            ng-repeat="personnel in personnels | orderBy: 'domain_account' | filter: {position: '交互设计师'}">
            <i ng-class="isChecked(personnel._id, 'ia')"></i>
            {{personnel.name}}
          </a>
        </div>
      </div>
      <div class="item">
        <a><b>视觉设计师</b></a>
        <div class="menu">
          <a class="item" ng-click="filterProjectsByAtom(personnel._id, 'ga')"
            ng-repeat="personnel in personnels | orderBy: 'domain_account' | filter: {position: '视觉设计师'}">
            <i ng-class="isChecked(personnel._id, 'ga')"></i>
            {{personnel.name}}
          </a>
        </div>
      </div>
      <div class="item">
        <a><b>前端设计师</b></a>
        <div class="menu">
          <a class="item" ng-click="filterProjectsByAtom(personnel._id, 'fe')"
            ng-repeat="personnel in personnels | orderBy: 'domain_account' | filter: {position: '前端设计师'}">
            <i ng-class="isChecked(personnel._id, 'fe')"></i>
            {{personnel.name}}
          </a>
        </div>
      </div>
      <div class="item">
        <a><b>产品经理</b></a>
        <div class="menu">
          <a class="item" ng-click="filterProjectsByAtom(personnel._id, 'pd')"
            ng-repeat="personnel in personnels | orderBy: 'domain_account' | filter: {position: '产品经理'}">
            <i ng-class="isChecked(personnel._id, 'pd')"></i>
            {{personnel.name}}
          </a>
        </div>
      </div>

      <div class="item">
        <a><b>所属版本</b></a>
        <div class="menu">
          <a class="item" ng-repeat="version in versions"
            ng-click="filterProjectsByAtom(version._id, 'version')">
            <i ng-class="isChecked(version._id, 'version')"></i>
            {{version.name}}
          </a>
        </div>
      </div>
      <div class="item">
        <a><b>开始时间</b></a>
        <div class="menu">
          <div class="ui input icon">
            <input type="text" placeholder="选取时间" />
            <i class="data basic icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="thirteen wide column">
    <table class="ui table segment padded">
      <thead>
        <tr>
          <th>应用</th>
          <th>名称</th>
          <th>状态</th>
          <th>版本</th>
          <th>JIRA</th>
          <th>交互稿</th>
          <th>视觉稿</th>
          <th>产品</th>
          <th>设计师</th>
          <th>开始时间</th>
          <th>结束时间</th>
        </tr>
      </thead>
      <tr ng-repeat="project in filtered = (projects | orderBy: '-related_version' | SamProjectSideFilter:selected_atom)">
        <td>
          <span ng-if="project.program.name == '官网'" class="cate_icon_o"></span>
          <span ng-if="project.program.name == '网站联盟'" class="cate_icon_u"></span>
          <span ng-if="project.program.name == '触屏站'" class="cate_icon_t"></span>
          <span ng-if="project.program.name == '易保易赔'" class="cate_icon_c"></span>
          <span ng-if="project.program.name == 'App-旅游保险'" class="cate_icon_m"></span>
          {{project.program.name}}
        </td>
        <td>{{project.name}}</td>
        <td>{{project.status.name}}</td>
        <td>{{project.related_version}}</td>
        <td>
          <a href="http://jira.vemic.com/browse/{{project.jira_uri}}"  ng-if="project.jira_uri" target="_blank">
            {{project.jira_uri}}
          </a>
        </td>
        <td>
          <a href="{{project.ix_uri}}" ng-if="project.ix_uri" target="_blank">
            查看
          </a>
        </td>
        <td>
          <a href="{{project.gandolf_uri}}" ng-if="project.gandolf_uri" target="_blank">
            查看
          </a>
        </td>
        <td><div ng-if="project.personnel_pd">{{project.personnel_pd.name}}</div></td>
        <td>
          <div ng-if="project.personnel_ia">{{project.personnel_ia.name}}</div>
          <div ng-if="project.personnel_ga.name">{{project.personnel_ga.name}}</div>
          <div ng-if="project.personnel_fe.name">{{project.personnel_fe.name}}</div>
        </td>
        <td>{{project.start_time}}</td>
        <td>{{project.end_time}}</td>
      </tr>
    </table>
  </div>
</div>

