doctype
html
	head
		meta(name='renderer', content='webkit')
		link(rel='stylesheet', href='/css/sam-exception.css')
		title= title
	body#sam-exception
		h1= header
		div.divider
			img(src='/img/exception.gif')
		div.divider
			a.back(href='/')
				| Back to Homepage
