<table class="ui table segment">
    <thead>
        <tr>
            <th>名称</th>
            <th>前端</th>
            <th>视觉</th>
            <th>发送时间</th>
            <th>头图</th>
            <th>编辑</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="mail in mails">
            <td>{{mail.name}}</td>
            <td>{{mail.personnel_fe.name}}</td>
            <td>{{mail.personnel_ga.name}}</td>
            <td>{{mail.release_time}}</td>
            <td>{{mail.head_image}}</td>
            <td>
                <div class="ui tiny buttons">
                    <a href="#!/mail/edit/{{mail._id}}" class="ui button positive">编辑</a>
                    <div class="or"></div>
                    <a ng-click="deleteMail(mail._id)" class="ui button">删除</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<a href="#!/mail/add" class="ui blue submit button icon labeled">
    <i class="edit basic icon"></i>
    添加邮件
</a>
