<div class="ui header dividing">
  <a href="#!/mail/add" class="ui blue submit button icon labeled header-button">
    <i class="edit basic icon"></i>
    添加邮件
  </a>
  <span class="header-title">邮件</span>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th>名称</th>
      <th>视觉稿</th>
      <th>视觉</th>
      <th>前端</th>
      <th>发送时间</th>
      <th>头图</th>
      <th>编辑</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="mail in filtered = (mails | orderBy: '-end_time')">
    <td>{{mail.name}}</td>
    <td><a href="{{mail.mail_graphic_uri}}" target="_blank">查看</a></td>
    <td>{{mail.personnel_ga.name}}</td>
    <td>{{mail.personnel_fe.name}}</td>
    <td>{{mail.end_time | date:'yyyy-MM-dd'}}</td>
    <td>
      <i class="icon photo tooltip-image">
        <img class="uploaded-image" ng-src="/uploads/{{mail.mail_cover}}" />
      </i>
    </td>
    <td>
      <div class="ui tiny buttons">
        <a href="#!/mail/edit/{{mail._id}}" class="ui button positive">编辑</a>
        <div class="or"></div>
        <a ng-click="deleteMail(mail._id)" class="ui button">删除</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<a href="#!/mail/add" class="ui blue submit button icon labeled">
  <i class="edit basic icon"></i>
  添加邮件
</a>

